<div>
    
    <form action="">
        <h2>LOGIN</h2><br>
        <input type="text" id="fname" name="fname" placeholder="User Name"><br><br>
        <input type="password" id="lname" name="lname" placeholder="Password"><br>
        <p><a href="" style="color: black; text-decoration-line: none;">forgot password</a></p>
        <p>If you Don't have an account? <a [routerLink]="['/register']" style="color:black; text-decoration: none;">Register here</a></p>
        <button>Login</button>
    </form>

</div>